# Dependencies
node_modules/
.pnp/
.pnp.js

# Testing
coverage/

# Production
dist/
dist-ssr/

# Misc
.DS_Store
*.log
.env
.env.local
.env.*.local

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?